{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <section>
        <h2>Liste de tous les articles</h2>
        <ul>
        {% for article in list %}
            <li>
                <a href="{{ path('getArticle', {id:article.id }) }}">{{ article.title }}</a>

            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}